* {
    box-sizing: border-box;
}
item {
    display: grid;
    align-items: center;
}
button {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-align: center;
    justify-content: center;
    color: brown;
    position: relative;
}
